<div class="card mx-auto mt-5">
  <div class="card-header">Add New Slider</div>
  <div class="card-body">
    <%= form_for [:backend, @slider] do | slider | %>
      <div class="form-group">
        <%= slider.label :name %>
        <%= slider.text_field :name, class:'form-control', placeholder:'Slider Name', required: 'required', autofocus: 'autofocus' %>
      </div>

      <div class="form-group">
        <%= slider.label :url %>
        <%= slider.text_field :url, class:'form-control', placeholder:'Slider url. Use http:// or https://' %>
      </div>

      <div class="form-group">
        <%= slider.label :image_alt %>
        <%= slider.text_field :image_alt, class:'form-control', placeholder:'Image Alt, ex. kursi,taman. Pisahkan dengan tanda koma' %>
      </div>

        Image size 900x350
      <div class="form-group">
        <%= slider.file_field :image %>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-4">
            <%= slider.submit :Publish, name: 'publish', class: 'btn btn-success btn-block' %>
          </div>
          <div class="col-md-4">
            <%= slider.submit :Draft, name: 'draft', class: 'btn btn-primary btn-block' %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Back', backend_sliders_path, class: 'btn btn-secondary btn-block' %>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
